div.dataTables_wrapper div.dt-buttons {
    float: left;
    text-align: left;
}

div.dataTables_wrapper div.dt-buttons button {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /*border: 1px solid transparent;*/
    padding: 0.251rem 0.51rem;
    font-size: 0.875rem;
    border-radius: 3px;
    line-height: 1.5;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    /*color: #798e98 !important;*/
    /*background: transparent !important;*/
    /*border-color: #798e98 !important;*/
}

/*div.dataTables_wrapper div.dt-buttons button.btn.btn-theme {*/
/*    color: rgba(0,0,0,.75) !important;*/
/*    background-color: #3cd2a5 !important;*/
/*    border-color: #3cd2a5 !important;*/
/*}*/

/*div.dataTables_wrapper div.dt-buttons button.btn.btn-warning {*/
/*    color: rgba(255,255,255,.75) !important;*/
/*    background-color: #ff9f0c !important;*/
/*    border-color: #ff9f0c !important;*/
/*}*/

/*div.dataTables_wrapper div.dt-buttons button.btn.btn-danger {*/
/*    color: rgba(255,255,255,.75) !important;*/
/*    background-color: #ff6060 !important;*/
/*    border-color: #ff6060 !important;*/
/*}*/

/*div.dataTables_wrapper div.dt-buttons button.btn.btn-yellow {*/
/*    color: rgba(0,0,0,.75) !important;*/
/*    background-color: #f9e80d !important;*/
/*    border-color: #f9e80d !important;*/
/*}*/

.w-50px{
    width: 50px !important;
}

.w-100px{
    width: 100px !important;
}

.select2-container {
    height: calc(3.5rem + 2px);
    line-height: 1.25;
    background-color: #fff;
}
.select2-container--default .select2-selection--single {
    height: 100%;
    background-color: transparent;
    border: none;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    height: calc(3.5rem + 2px);
    line-height: 4;
    padding-left: 10px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: calc(3.5rem + 2px);
}
.select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid rgba(170, 170, 170, .5);
    line-height: 2;
}

table.dataTable {
    min-width: 100% !important;
    max-width: 100% !important;
}


div.DTE div.DTE_Header,
div.DTE div.DTE_Footer{
    background-color: rgba(var(--WinDOORS-theme-rgb), .2);
}
div.DTE button.btn, div.DTE div.DTE_Form_Buttons button{
    background-color: var(--WinDOORS-theme);
    color: var(--WinDOORS-theme-color);
    border-color: var(--WinDOORS-theme-darken);
    background-image: none;
    padding: .5em 2em;
    line-height: 14px;
}

.form-check.form-check-inline {
    margin-left: 1rem;
    line-height: 58px;
}
.form-check .form-check-input {
    margin-top: 22px;
}

.nowrap{
    white-space: nowrap;
}

.table .badge {
    cursor: pointer;
}

.text-right {
    text-align: right !important;
}
