div.dataTables_wrapper div.dt-buttons {
    float: left;
    text-align: left;
}

div.dataTables_wrapper div.dt-buttons button {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.251rem 0.51rem;
    font-size: 0.875rem;
    border-radius: 3px;
    line-height: 1.5;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    color: #798e98 !important;
    background: transparent !important;
    border-color: #798e98 !important;
}

div.dataTables_wrapper div.dt-buttons button.btn.btn-theme {
    color: rgba(0,0,0,.75) !important;
    background-color: #3cd2a5 !important;
    border-color: #3cd2a5 !important;
}

div.dataTables_wrapper div.dt-buttons button.btn.btn-warning {
    color: rgba(255,255,255,.75) !important;
    background-color: #ff9f0c !important;
    border-color: #ff9f0c !important;
}

div.dataTables_wrapper div.dt-buttons button.btn.btn-danger {
    color: rgba(255,255,255,.75) !important;
    background-color: #ff6060 !important;
    border-color: #ff6060 !important;
}

div.dataTables_wrapper div.dt-buttons button.btn.btn-yellow {
    color: rgba(0,0,0,.75) !important;
    background-color: #f9e80d !important;
    border-color: #f9e80d !important;
}
