/* Toast */
.alert-container {
    border-radius: 0;
    background-color: #002f2f;
    color: #fff;
    border: none;
    position: fixed;
    top: 100px;
    right: 15px;
    width: 300px;
    display: none;
    z-index: 100;
    box-shadow: 0 2px 15px rgb(0 0 0 / 25%);
}

.alert-container .alert {
    text-align: left;
    padding: 15px 30px;
    font-size: 14px;
    font-weight: 400;
    opacity: 1;
    border: none;
}


.tree li {
    cursor: pointer;
    color: #1d212f;
    padding-top: 15px;
    padding-bottom: 15px;
}
.tree > li{
    border-bottom: 1px solid #999999;
}
.tree li:not(.branch){
    padding-left: 24px;
}
.tree li.branch ul{
    padding: 15px 0 0;
}
.tree li.branch li{
    padding-left: 34px;
    border-top: 1px solid #999999;
}
.tree ul li:last-child:before {
    top: 30px;
}

#product_category_view.tree li {
    cursor: pointer;
    color: #1d212f;
    padding-top: 0px;
    padding-bottom: 0px;
}
#product_category_view.tree > li{
    border-bottom: none;
}
#product_category_view.tree li:not(.branch){
    padding-left: 24px;
}
#product_category_view.tree li.branch ul{
    padding: 5px 0 15px;
}
#product_category_view.tree li.branch li{
    padding-left: 15px;
    border-top: none;
    margin: 3px;
}
#product_category_view.tree li.branch li.selected{
    background-color: var(--primary);
    color: var(--white);
}
#product_category_view.tree ul li:last-child:before {
    top: 14px;
}
#product_category_view.tree li.branch li a{
    padding: 0px 15px;
}

#product_tags.tags .tag {
    cursor: pointer;
}
#product_tags.tags .tag.selected {
    background-color: var(--primary);
    color: var(--white);
}

#product_documents .document_item button{
    background: transparent;
    border: none;
}

#product_variation_groups.tags .tag{
    font-size: 0.9rem;
    font-weight: 500;
    padding: 0.3rem 1.3rem;
}

#product_variations .update_product_variation{
    cursor: pointer;
}

#product_variations .label-content{
    position: relative;
    display: inline-block;
    margin-right: 30px;
}
#product_variations .label-content .delete_product_variation{
    font-size: 12px;
    cursor: pointer;
}

.custom-controls-inline .custom-control{
    display: inline-block;
    margin-right: 1rem;
}
.ui-datepicker {
    z-index: 10000 !important;
}
.table {
    padding-right: 1px !important;
}
.table thead{
    background-color: var(--primary-bg-color);
}
.table thead th{
    color: #ffffff;
}
.btn-list>.btn, .btn-list>.dropdown {
    margin-bottom: 0rem;
}
.table td {
    padding: 6px 12px;
}
.table td .btn-list>.btn,
.table td .btn-list>.dropdown{
    margin-top: -4px;
}

.dataTables_wrapper .selected {
    background: #002f2f;
    cursor: pointer;
}
.dataTables_length{
    float: left;
    text-align: left;
    margin-left: 30px;
}
